
node_modules

#Temporary Files
tmp/
stdout/
tmp_data
db_data
wallet_data
node_modules
modules
.eslintcache

# Editor Files
.vscode
.idea
*.iml
*.code-workspace
.changelog

# Local env
.env*
!.env.example

# Build Dirs
build
build_*

# Secrets
contracts/secrets
eosio.key
*.key
wallet_password.txt

# Local Mac files
.DS_Store

# yarn
.yarn/*
*/.yarn/*
!.yarn/releases
!*/.yarn/releases
!.yarn/plugins
!*/.yarn/plugins
.pnp.*