{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "promise/always-return": "off",
    "react/display-name": "off",
    "prefer-const": "off",
    "camelcase": "off",
    "complexity": [
      "error",
      {
        "max": 21
      }
    ]
  }
}
